
.btn-link{
    padding-bottom: 0px;
    background: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-size: 0px 6%;
    background-repeat: no-repeat;
    background-position: left 100%;
    transition-duration: .5s;
    font-weight: inherit;
    padding: 0;
    text-decoration: none !important;
  }
  .btn-link:hover {
    background-size: 100% 6%;
  }

